<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>ThiDiff Technologies</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="mainContent">
        <div class="header">
            <img class="header-img" src="https://sakthi-bucket-media.s3.us-east-2.amazonaws.com/media/email/thidiff.png" />
        </div>
        
    	<p style="font-size:12px;">
    			<p style="text-align: left;">
                    <%- message %>
                </p>
    			</br>
                <p style="text-align: center;">
                    <a href="http://www.thidiff.com?action=reply&token=<%= token %>" class="siteLink">Click Here To Reply</a>
                </p>
                Thanks,<br/>
                Recruitment Team<br/>
                
                <b>ThiDiff Technologies</b><br/>
                <span style="color: #808080;">
                    <span>UMC Commercial Complex, B Block, 6th Floor,</span><br/>
                    <span>Kudlu Gate Junction, Hosur Road,</span><br/>
                    <span>Bangalore - 560068, Karnataka India.</span><br/>
                    <span><a href="http://www.thidiff.com">www.thidiff.com</a></span>
                </span>
                
                      <div class="footer">
                                Copyright © 2021  <a target="_blank" href="www.thidiff.com" style="text-decoration: none; color: #000;"> ThiDiff Technologies</a>                                                
                      </div>
            </p>
            
    </body>
</html>