<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>ThiDiff Technologies</title>
    </head>
    <body class="mainContent">

        <!-- Content -->
        <p style="font-size: 12px; padding: 0">
            Dear <%= fullName %>,
        </p>
    	<p style="font-size:12px; line-height: 16px">
            Thank you for contact us. We will be in touch with you soon. </br>
    			</br>
                Best regards, <br/>

                 <b>ThiDiff Technologies</b><br/>
                      <span style="color: #808080;">
                          <span>Uma Sree Dream World, B-Block, 6th Floor</span><br/>
                          <span>Kudlu Gate Junction, Hosur Road,</span><br/>
                          <span>Bangalore - 560068, Karnataka India.</span><br/>
                          <span><span style="font-weight: bold">Landmark: Behind Race Coaching Institute, </span><br/>
                          <span>Kudlu Gate Traffic Signal.</span><br/></span>
                          <span><a href="http://www.thidiff.com">www.thidiff.com</a></span>
                      </span>
            </p>
    </body>
</html>