<!DOCTYPE html>
<html>
<head>
    <title>Device Status</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size:15px;
        }

    </style>
</head>
<body>
        <div>
            <p>Your device is <%= status %> </p>
    </div>
</body>
</html>
