<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>ThiDiff Technologies</title>
    </head>
    <body class="mainContent">
    	<p style="font-size:12px;">
    			Thank you for your interest. We are processing your resume and will be in touch with you soon. </br>
    			</br>
                <p style="text-align: center;">
                    <a href="http://www.thidiff.com?action=reply&token=<%= token %>" class="siteLink">Click Here To Reply</a>
                    <p><%= replyMessage %></p>
                </p>
                Thanks,<br/>
                Recruitment Team<br/>

                <b>ThiDiff Technologies</b><br/>
                      <span style="color: #808080;">
                          <span>Uma Sree Dream World, B-Block, 6th Floor</span><br/>
                          <span>Kudlu Gate Junction, Hosur Road,</span><br/>
                          <span>Bangalore - 560068, Karnataka India.</span><br/>
                      </span>
            </p>
    </body>
</html>