<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>ThiDiff Technologies</title>
    </head>
    <body class="mainContent">

        <!-- Content -->
        <p style="text-align: center;font-size: 16px;color: black;">Leave Letter</p> </br>
    	<p style="font-size:12px; line-height: 16px">
                    <span  style="display: inline-block;font-size: 14px;color: black;">Respected Sir,</span></br>
                    <span style="text-indent: 95px;display: inline-block;font-size: 13px;color: black;"><%= message %>.</span></br></br>
                    <span style="display: inline-block;font-size: 14px;color: black;">Date:</span>
                    <span style="display: inline-block;font-size: 13px;color: black;"> <%= date %></span></br>
                    <p style="font-size: 14px;color: black">Thank You.</p></br>
                    <p style="font-size: 13px;color: black;text-align: right">
                        <span style="display: inline-block;font-size: 14px;color: black;text-align: right">Yours Faithfully,</span></br>
                        <span style="display: inline-block;font-size: 14px;color: black;text-align: right""> <%= name %><%= lastName %></span></br>
                    </p>
        </p>
    </body>
</html>